<div    >
    <h3>Nội dung bài news</h3>
    <div class="card-content" style="width: 25rem;">
        <img class="card-img-top" src="https://bizweb.dktcdn.net/100/407/340/themes/792018/assets/slider_1.png?1663040051764" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Kinh nghiệm du lịch</h5>
            <p class="card-text">1.000 lý do tại sao bạn nên chọn đến với chung tôi Ngọc Khánh An Travel, có 1 thế giới tuyệt đẹp quanh ta hãy đến với chúng tôi.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Kinh nghiệm 1</li>
            <li class="list-group-item">Kinh nghiệm 2</li>
            <li class="list-group-item">Kinh nghiệm 3</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">1</a>
            <a href="#" class="card-link">2</a>
            <a href="#" class="card-link">3</a>
        </div>
    </div>
     <div class="card-content" style="width: 25rem;">
        <img class="card-img-top" src="https://cafefcdn.com/2018/7/22/mg6390-1532234722450334968620.jpg">
        <div class="card-body">
            <h5 class="card-title">Kinh nghiệm du lịch</h5>
            <p class="card-text">1.000 lý do tại sao bạn nên chọn đến với chung tôi Ngọc Khánh An Travel, có 1 thế giới tuyệt đẹp quanh ta hãy đến với chúng tôi.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Kinh nghiệm 1</li>
            <li class="list-group-item">Kinh nghiệm 2</li>
            <li class="list-group-item">Kinh nghiệm 3</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">1</a>
            <a href="#" class="card-link">2</a>
            <a href="#" class="card-link">3</a>
        </div>
    </div>
</div>